h1 {
	font-family: verdana;
	text-align: center;
	color: #0033CC;
}
body {
	background: #ADD6FF;
}
h2 {
	color: #CC0052;
	font-family: verdana;
	text-align: center;
	font-size:5;
	font-style: italic;
}
img {
	width: 250px;
    height: 350px;
    border: 3px solid #003399;
}
h4,h5 {
	color: #black;
	font-family: verdana;
	font-size:2;
	font-style: italic;
}